.short-title {
  font-size: 12px;
  line-height: 16px;
  color: $base-primary;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  font-weight: 700;
  text-align: center;
}
